<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<%= render :partial => 'spree/shared/error_messages', locals: { target: @payment} %>

<% content_for :page_title do %>
  <%= Spree.t(:payment) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_payment_methods_list), spree.admin_payment_methods_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<div class="row">
  <fieldset class="no-border-top translations">
    <%= render 'settings' %>

    <%= form_for @resource, :url => admin_payment_method_path(@resource) do |f| %>
      <%= render 'form_fields', f: f %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'icon-refresh' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), spree.admin_payment_methods_path, :icon => 'icon-remove' %>
      </div>
    <% end %>
  </fieldset>
</div>